<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <h1> Properties available for your selected dates </h1>

  <form action="/book" method="get">
    <label for="start_date">Start date:</label>
      <input type="date" name="start_date">

      <label for="end_date">End date:</label>
      <input type="date" name="end_date">

      <input type="submit" value="Search">
  </form>

    <% @venues.each do |venue| %>
    <dl>
      <dt>Property name: <%= venue.name %></dt>
      <dd>Address: <%= venue.address %></dd>
      <dd>Price: £<%= venue.ppn %></dd>
      <dd>Description: <%= venue.description %></dd>
      <dd><% venue.availabilities.each do |availability| %></dd>
      <dd>Start date: <%= availability.start_date.strftime("%d/%m/%Y") %></dd>
      <dd>End date: <%= availability.end_date.strftime("%d/%m/%Y") %></dd>
      <% end %>
      <dd><a href=<%="/book/request"%>> Book this property </a>
      </dd>
    </dl>
    <% end %>

</body>
</html>
