<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <h2 style = "margin-bottom: 1.5em"> Please insert the dates you're interested in, to see a list of available properties! </h2>

  <div>
  <form action="/book" method="get">
    <label for="start_date">Start date:</label>
      <div><input type="date" name="start_date"></div>

      <label for="end_date">End date:</label>
      <div><input type="date" name="end_date"></div>

      <div><input style = "margin-top: 1em" class="btn btn-secondary" type="submit" value="Search"></div>
  </form>
  </div>

  <div style = "margin-top: 3em">
    <% @venues.each do |venue| %>
    <dl>
      <dt><%= venue.name %></dt>
      <dd><%= venue.address %></dd>
      <dd>Price per night: £<%= venue.ppn %></dd>
      <dd><%= venue.description %></dd>
      <dd><% venue.availabilities.each do |availability| %></dd>
      <dd>Available from: <%= availability.start_date.strftime("%d/%m/%Y") %></dd>
      <dd>Available until: <%= availability.end_date.strftime("%d/%m/%Y") %></dd>
      <% end %>
      <dd><a style = "margin-bottom: 1.5em" class="btn btn-secondary" href=<%="/book/request"%>> Book this property </a>
      </dd>
    </dl>
    <% end %>
  </div>

</body>
</html>
