  <div>
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="btn btn-dark" type="submit" value="Log out">
  </form>
  </div>

  <div style = "margin: 3em">
  <h1>Welcome, <%= current_user.email %>!</h1>
  </div>

  <div style = "margin-bottom: 3em">
  <form action="/book" method="get" style = "margin-bottom: 1em">
    <input class="btn btn-secondary" type="submit" name="Book" value="Book">
  </form>

  <form action="/list" method="get">
    <input class="btn btn-secondary" type="submit" name="List" value="List">
  </form>
  </div>

  <div>
  <% @venues.each do |venue| %>
  <dl>
    <dt><%= venue.name %></dt>
    <dd><%= venue.address %></dd>
    <dd>Price per night: £<%= venue.ppn %></dd>
    <dd style = "margin-bottom: 2em"><%= venue.description %></dd>
  </dl>
  <% end %>
  </div>
